@import "tailwindcss";

/*MAIN BUTTONS STYLING*/
.my-main-button {
  border-radius: 0 !important;
  border: 0 !important;
  background-color: #213D72 !important;
  color: white !important;
}
.my-main-button:hover {
  background-color: #2d55a0 !important;
}

.dark-hover:hover {
  background-color: #213D72;
}
.light-hover:hover {
  background-color: #00B1D3;
}
.my-light-blue {
  color: #00B1D3;
}
.my-dark-blue {
  color: #213D72;
}