@import "tailwindcss";

/*MAIN BUTTONS STYLING*/
.my-main-button {
  border-radius: 0 !important;
  border: solid 1px #213D72  !important;
  background-color: #213D72 !important;
  color: white !important;
}
.my-main-button:hover {
  background-color: #294c8f !important;
}
.my-main-button:disabled {
  background-color: #777 !important;
  color: #ccc !important;
}
.my-main-button-outlined {
  border-radius: 0 !important;
  border: solid 1px #213D72 !important;
  background-color: white !important;
  color: #213D72 !important;
}
.my-main-button-outlined:hover {
  background-color: #213D72 !important;
  color: white !important;
}

.dark-hover:hover {
  background-color: #213D72;
}
.light-hover:hover {
  background-color: #00B1D3;
}
.my-light-blue {
  color: #00B1D3;
}
.my-dark-blue {
  color: #213D72;
}